body {
      background-color: #f4f6f9;
      font-family: 'Segoe UI', sans-serif;
    }
    .sidebar {
      background-image: linear-gradient(139deg, #242832 0%, #241C28 100%);
      color: #fff;
      min-height: 100vh;
      padding-top: 2rem;
    }
    .sidebar a {
      color: #ccc;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
    }
    .sidebar a:hover, .sidebar a.active {
      background-color: #343a40;
      color: white;
      border-radius: 0 20px 20px 0;
    }
    .main-content {
      padding: 2rem;
    }
    .sidebar h4 {
      text-align: center;
      margin-bottom: 2rem;
    }

     
    .docenteIco{
      width: 140px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }


    
